<!DOCTYPE html>
    <title>{% block title %}Home{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/resources.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
<div id="main">
    <span id="town" class="common_res">{{ cities.cityName }}</span>
{% for resource in cities.resources %}
        {% if resource.resource.name != "Gold" %}
            <span id="res2" class="common_res"> {{ resource.resource.name }} = {{ resource.amount }}</span>
        {% else %}
            <span id="res1" class="common_res"> {{ resource.resource.name }} = {{ resource.amount }}</span>
        {% endif %}
{% endfor %}
</div>


