{% extends 'base.html.twig' %}

{% block body_id 'profile' %}

{% block main %}
    <div>
        <div id="hello-player">
            <span>Hello,</span>
            <span>{{ player.username }}</span>
            <span>{{ player.fullName }}. </span>
            <span>Visit your cities:</span>
        </div>
        <div id="cities-table">
        <table>
        {% for city in player.cities %}
            {% if city.id == cityId %}
                <tr>
                    <td class="td-city">{{ city.cityName }} [{{ city.x }}:{{ city.y }}]</td>
                </tr>
            {% else %}
                <tr>
                    <td class="td-city"><a id="link-to-city" href="{{ path('change_city', {id: city.id}) }}">{{ city.cityName }} [{{ city.x }}:{{ city.y }}]</a></td>
                </tr>
            {% endif %}
        {% endfor %}
        </table>
        </div>
    </div>
    <div id="building-button">
        <a href="{{ path('buildings_list') }}">Buildings</a>
    </div>
{% endblock %}
